---
title: Advanced Threat Detection for GovTech Commercial Cloud
subtitle: CS480 Final Year Project
skills: [aws, azure, gcp]
---

For our Final Year Project, we developed pipelines for efficiently ingesting data logs, building machine learning models, and deploying those models on AWS, Azure, and GCP.

This involved an analysis and exploration of the many services provided by the different cloud providers to meet the functional requirements for the pipelines. In the process, we designed and trained basic machine learning models using the pipelines developed.