---
title: Sere
subtitle: A cross-platform movement shooter.
skills: [godot]
images:
  - src: ./sere-demo.gif
    alt: a recording of a third person shooter game
---

An experimental movement shooter that runs natively on desktop Windows and macOS, on mobile iOS and Android, and on browsers as a WebGL game.

This project developed my skill in game programming, animation, modelling, and authoritative multiplayer networking.
