---
title: tailwindcss-global-dark
subtitle: A TailwindCSS variant for class-based dark mode with CSS Modules.
links:
  - label: GitHub
    href: https://github.com/bryanmylee/tailwindcss-global-dark
---
