@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--user-font-scale: 1rem - 16px;
	--ink-200: 229 231 235;
	--ink-300: 209 213 219;
	--ink-400: 156 163 175;
	--ink-500: 107 114 128;
	--ink-600: 75 85 99;
	--ink-700: 55 65 81;
	--ink-800: 31 41 55;
	--ink-900: 17 24 39;
	--ink-DEFAULT: 10 10 10;
	--paper-raised-high: 255 255 255;
	--paper-raised: 255 255 255;
	--paper-DEFAULT: 249 250 251;

	&.dark {
		--ink-200: 38 38 38;
		--ink-300: 64 64 64;
		--ink-400: 82 82 82;
		--ink-500: 115 115 115;
		--ink-600: 163 163 163;
		--ink-700: 212 212 212;
		--ink-800: 229 229 229;
		--ink-900: 245 245 245;
		--ink-DEFAULT: 255 255 255;
		--paper-raised-high: 32 32 32;
		--paper-raised: 23 23 23;
		--paper-DEFAULT: 18 18 18;
	}

	scrollbar-gutter: stable;
	scrollbar-width: theme(width.3);
	scrollbar-color: theme(colors.ink.200) theme(colors.transparent);
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

* {
	&::-webkit-scrollbar {
		width: theme(width.3);
	}
	&::-webkit-scrollbar-track {
		background-color: theme(colors.transparent);
		border-radius: theme(borderRadius.full);
	}
	&::-webkit-scrollbar-thumb {
		background-color: theme(colors.ink.200);
		border-radius: theme(borderRadius.full);
	}

	&:focus-visible {
		outline-style: solid;
		outline-width: 2px;

		.dark & {
			outline-color: theme(colors.blue.300);
		}
	}

	border-radius: theme(borderRadius.sm);
}

body,
.prose {
	font-size: 1rem;
	font-size: clamp(0.9rem, 0.75rem + 0.375lvw + var(--user-font-scale), 1rem);
}

pre {
	tab-size: 2;
}

@layer utilities {
	.tw-container {
		width: theme(width.full);

		@media screen(sm) {
			& {
				max-width: theme(screens.sm);
			}
		}
		@media screen(md) {
			& {
				max-width: theme(screens.md);
			}
		}
		@media screen(lg) {
			& {
				max-width: theme(screens.lg);
			}
		}
		@media screen(xl) {
			& {
				max-width: theme(screens.xl);
			}
		}
		@media screen(2xl) {
			& {
				max-width: theme(screens.2xl);
			}
		}
	}

	.scrollbar-hidden {
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
		-ms-overflow-style: none; /* IE, Edge */
		scrollbar-width: none;
	}
}
