@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.layout-container {
		width: 100%;
	}
	@media (min-width: 640px) {
		.layout-container {
			max-width: 640px;
		}
	}
	@media (min-width: 768px) {
		.layout-container {
			max-width: 768px;
		}
	}
	@media (min-width: 1024px) {
		.layout-container {
			max-width: 1024px;
		}
	}
	@media (min-width: 1280px) {
		.layout-container {
			max-width: 1280px;
		}
	}
	@media (min-width: 1536px) {
		.layout-container {
			max-width: 1536px;
		}
	}
}

@keyframes move-background {
	0% {
		background-position: 100% 0%;
	}
	25% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
	75% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 100% 0%;
	}
}

@keyframes flash {
  50% {
    opacity: .25;
  }
}
.animate-flash {
  animation: flash 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}