@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-background {
	0% {
		background-position: 100% 0%;
	}
	25% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
	75% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 100% 0%;
	}
}
